{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Helpdesk Support plugin for Craft CMS 3.x
 *
 * Helpdesk Support Settings.twig
 *
 * @author    Jarrod D Nix
 * @copyright Copyright (c) 2019 Jarrod D Nix
 * @link      https://jarrodnix.me
 * @package   HelpdeskSupport
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("jrrdnx\\helpdesksupport\\assetbundles\\HelpdeskSupport\\HelpdeskSupportAsset") %}

{{ forms.autosuggestField({
    label: 'provider'|t('helpdesk-support'),
    instructions: 'provider-instructions'|t('helpdesk-support'),
    id: 'apiProvider',
    name: 'apiProvider',
    value: settings['apiProvider'],
	suggestEnvVars: true})
}}

{{ forms.autosuggestField({
    label: 'domain'|t('helpdesk-support'),
    instructions: 'domain-instructions'|t('helpdesk-support'),
    id: 'apiDomain',
    name: 'apiDomain',
    value: settings['apiDomain'],
	suggestEnvVars: true})
}}

{{ forms.autosuggestField({
    label: 'username'|t('helpdesk-support'),
    instructions: 'username-instructions'|t('helpdesk-support'),
    id: 'apiUsername',
    name: 'apiUsername',
    value: settings['apiUsername'],
	suggestEnvVars: true})
}}

{{ forms.autosuggestField({
    label: 'apitoken'|t('helpdesk-support'),
    instructions: 'apitoken-instructions'|t('helpdesk-support'),
    id: 'apiToken',
    name: 'apiToken',
    value: settings['apiToken'],
	suggestEnvVars: true})
}}

<h2>{{ "freshdesk"|t('helpdesk-support') }}</h2>
<p><strong>{{ 'domain'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "freshdesk-domain-instructions"|t('helpdesk-support') }}</p>
<p><strong>{{ 'username'|t('helpdesk-support') }}: </strong> <em>({{ "not-required"|t('helpdesk-support') }})</em></p>
<p><strong>{{ 'apitoken'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "freshdesk-apitoken-instructions"|t('helpdesk-support') }}</p>

<hr />

<h2>{{ "teamwork-desk"|t('helpdesk-support') }}</h2>
<p><strong>{{ 'domain'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "teamwork-desk-domain-instructions"|t('helpdesk-support') }}</p>
<p><strong>{{ 'username'|t('helpdesk-support') }}: </strong> <em>({{ "not-required"|t('helpdesk-support') }})</em></p>
<p><strong>{{ 'apitoken'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "teamwork-desk-apitoken-instructions"|t('helpdesk-support')|raw }}</p>

<hr />

<h2>{{ "zendesk-support"|t('helpdesk-support') }}</h2>
<p><strong>{{ 'domain'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "zendesk-support-domain-instructions"|t('helpdesk-support') }}</p>
<p><strong>{{ 'username'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "zendesk-support-username-instructions"|t('helpdesk-support') }}</p>
<p><strong>{{ 'apitoken'|t('helpdesk-support') }}: </strong> <em>({{ "required"|t('helpdesk-support') }})</em> {{ "zendesk-support-apitoken-instructions"|t('helpdesk-support') }}</p>

<br />
<br />
<br />