{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Helpdesk Support plugin for Craft CMS 3.x
 *
 * Helpdesk Support index.twig
 *
 * @author    Jarrod D Nix
 * @copyright Copyright (c) 2019 Jarrod D Nix
 * @link      https://jarrodnix.me
 * @package   HelpdeskSupport
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set fullPageForm = true %}

{% do view.registerAssetBundle("jrrdnx\\helpdesksupport\\assetbundles\\helpdesksupport\\HelpdeskSupportAsset") %}
{% do view.registerAssetBundle("jrrdnx\\helpdesksupport\\assetbundles\\viewticketscpsection\\ViewTicketsCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/jrrdnx/helpdesk-support/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "View Ticket: " ~ ticket.id %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('helpdesk-support') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@jrrdnx/helpdesksupport/assetbundles/viewticketscpsection/dist', true) ~ '/img/ViewTickets-icon.svg' %}

{% set subnav = {
    "create-new-ticket": { label: "Create New Ticket"|t('helpdesk-support'), url: url(pluginCpUrl ~ '/create-new-ticket') },
    "view-tickets": { label: "View Tickets"|t('helpdesk-support'), url: url(pluginCpUrl ~ '/view-tickets') },

} %}
{% set selectedSubnavItem = 'view-tickets' %}

{% set crumbs = [
    { label: "Helpdesk Support", url: url(pluginCpUrl) },
] %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('helpdesk-support') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% block actionButton %}{% endblock %}

{% block sidebar %}

	<div class="ticket-details-sidebar">
		<div>
			<span>ID</span>
			<span>{{ ticket.id }}</span>
		</div>
		<div>
			<span>Subject</span>
			<span>{{ ticket.hsSubject }}</span>
		</div>
		<div>
			<span>Requester</span>
			<span>{{ ticket.hsRequester }}</span>
		</div>
		<div>
			<span>Created</span>
			<span>{{ ticket.hsCreatedAt|date('M j, Y g:ia') }}</span>
		</div>
		<div>
			<span>Last Activity</span>
			<span>{{ ticket.hsUpdatedAt|date('M j, Y g:ia') }}</span>
		</div>
		<div>
			<span class="separator"></span>
		</div>
		<div>
			<span>Assigned To</span>
			<span>{{ ticket.hsAssignee ?? 'N/A' }}</span>
		</div>
		<div>
			<span>Status</span>
			<span class="helpdesk-support-ticket-status {{ ticket.status }}">{{ ticket.status }}</span>
		</div>
		<div>
			<span>Type</span>
			<span>{{ ticket.type ? ticket.type|title : 'N/A' }}
			</span>
		</div>
		<div>
			<span>Priority</span>
			<span>{{ ticket.priority ? ticket.priority|title : 'N/A' }}
			</span>
		</div>
		<div>
			<span class="separator"></span>
		</div>
		<div>
			<span>Attachments</span>
			<div class="ticket-attachments">
				{% set numAttachments = 0 %}
				{% for comment in ticket.comments %}
					{% if comment.attachments %}
						{% for attachment in comment.attachments %}
							{% set attachmentSize = attachment.hsSize %}
							{% set attachmentSuffix = 'B' %}
							{% if attachmentSize > 1073741824 %}
								{% set attachmentSize = (attachment.size / 1073741824)|number_format(2, '.', ',') %}
								{% set attachmentSuffix = 'GB' %}
							{% elseif attachmentSize > 1048576 %}
								{% set attachmentSize = (attachment.size / 1048576)|number_format(2, '.', ',') %}
								{% set attachmentSuffix = 'MB' %}
							{% elseif attachmentSize > 1024 %}
								{% set attachmentSize = (attachment.size / 1024)|number_format(2, '.', ',') %}
								{% set attachmentSuffix = 'KB' %}
							{% endif %}
							<a href="{{ attachment.hsUrl }}" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
									<path d="M43.246 466.142c-58.43-60.289-57.341-157.511 1.386-217.581L254.392 34c44.316-45.332 116.351-45.336 160.671 0 43.89 44.894 43.943 117.329 0 162.276L232.214 383.128c-29.855 30.537-78.633 30.111-107.982-.998-28.275-29.97-27.368-77.473 1.452-106.953l143.743-146.835c6.182-6.314 16.312-6.422 22.626-.241l22.861 22.379c6.315 6.182 6.422 16.312.241 22.626L171.427 319.927c-4.932 5.045-5.236 13.428-.648 18.292 4.372 4.634 11.245 4.711 15.688.165l182.849-186.851c19.613-20.062 19.613-52.725-.011-72.798-19.189-19.627-49.957-19.637-69.154 0L90.39 293.295c-34.763 35.56-35.299 93.12-1.191 128.313 34.01 35.093 88.985 35.137 123.058.286l172.06-175.999c6.177-6.319 16.307-6.433 22.626-.256l22.877 22.364c6.319 6.177 6.434 16.307.256 22.626l-172.06 175.998c-59.576 60.938-155.943 60.216-214.77-.485z"/>
								</svg>
								<div>
									<span>{{ attachment.hsFilename }}</span>
									<span>({{ attachmentSize ~ attachmentSuffix }})</span>
								</div>
							</a>
							{% set numAttachments = numAttachments + 1 %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				{% if numAttachments <= 0 %}
					<span class="no-attachments">N/A</span>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}

{% set content %}

	<div class="ticket-comments">
		{% for comment in ticket.comments %}
			<div class="ticket-comment">
				<header>
					<div class="img">
						{% if comment.hsAuthorImg %}
							<img src="{{ comment.hsAuthorImg }}" alt="{{ comment.hsAuthor }}" />
						{% else %}
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="user-svg">
								<path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/>
							</svg>
						{% endif %}
					</div>
					<div>
						<span>{{ comment.hsAuthor }}</span>
						<span>{{ comment.hsCreatedAt|date('F j, Y g:ia') }}</span>
					</div>
				</header>
				{{ comment.hsBody|raw }}
				{% if comment.attachments %}
					<div class="attachments">
						{% for attachment in comment.attachments %}
							<a href="{{ attachment.hsUrl }}" target="_blank">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
									<path d="M43.246 466.142c-58.43-60.289-57.341-157.511 1.386-217.581L254.392 34c44.316-45.332 116.351-45.336 160.671 0 43.89 44.894 43.943 117.329 0 162.276L232.214 383.128c-29.855 30.537-78.633 30.111-107.982-.998-28.275-29.97-27.368-77.473 1.452-106.953l143.743-146.835c6.182-6.314 16.312-6.422 22.626-.241l22.861 22.379c6.315 6.182 6.422 16.312.241 22.626L171.427 319.927c-4.932 5.045-5.236 13.428-.648 18.292 4.372 4.634 11.245 4.711 15.688.165l182.849-186.851c19.613-20.062 19.613-52.725-.011-72.798-19.189-19.627-49.957-19.637-69.154 0L90.39 293.295c-34.763 35.56-35.299 93.12-1.191 128.313 34.01 35.093 88.985 35.137 123.058.286l172.06-175.999c6.177-6.319 16.307-6.433 22.626-.256l22.877 22.364c6.319 6.177 6.434 16.307.256 22.626l-172.06 175.998c-59.576 60.938-155.943 60.216-214.77-.485z"/>
								</svg>
								<span>{{ attachment.hsFilename }}</span>
							</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<input type="hidden" name="action" value="helpdesk-support/tickets/update-ticket">
	<input type="hidden" name="ticketId" value="{{ ticket.id }}">

	{% if ticketErrors is defined %}
		<div class="ticket-errors">
			<ul>
				{% for error in ticketErrors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{{ forms.textareaField({
		rows: 6,
		label: 'Add to Conversation',
		instructions: '',
		id: 'reply',
		name: 'reply',
		value: reply,
		required: true})
	}}

	{{ forms.elementSelectField({
		label: 'Attachments',
		instructions: '',
		id: 'attachments',
		name: 'attachments',
		limit: 10,
		elementType: 'craft\\elements\\Asset',
		elements: assetElements})
	}}

	<div class="btngroup submit first">
		<input type="submit" class="btn submit" value="Add Reply">
	</div>

{% endset %}
